<!DOCTYPE html>

<html>

<head>
    <title>About Page</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css"> 
</head>
<body>
     <div class="main-content">
        {{>header}}
        <p>Weather updates can be checked on this site all over the world!<br>
            Created by Sai Pranav Koyyada<br> 
            It uses mapbox.com and openweather.com</p>
        <img class="portrait" src="/img/moca.jpg">
    </div>
    {{>footer}}
</body>

</html>